[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.1"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"
django-taggit = "==1.2.0"
markdown = "==3.2.1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
