{% extends 'blog/base.html' %}

{% block content %}

<br/>
{% if message_name %}
<h1>{{ message_name }} Your message has been submitted. We will get back to you soon..</h1>
{% endif %}
<form action="#" method="POST">
    {% csrf_token %}
    <input type="text" name='message-name' placeholder="Your Name">
    <input type="email" name='message-email' placeholder="Your Email">
    <textarea name='message' placeholder="Your Message"></textarea>
    <br/><br/><br/><br/><br/><br/><br/>
    <button type="submit">Send Message</button>
</form>


{% endblock %}